<section class="footer" id="footer">
  <div class="container">
    <div class="row nav-footer">
      <div class="col-sm-12 col-md-4 col-lg-2 footer-item nav">
        <p class="footer-heading">
          <b>About Us</b>
        </p>
        <ul>
          <li>
            <a href="">Who We Are!</a>
          </li>
          <li>
            <a href="">Board of Directors</a>
          </li>
          <li>
            <a href="">Investor Relations</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-2 footer-item nav">
        <p class="footer-heading">
          <b>Sectors</b>
        </p>
        <ul>
          <li>
            <a href="">Building Houses</a>
          </li>
          <li>
            <a href="">Energy Projects</a>
          </li>
          <li>
            <a href="">Electrical Works</a>
          </li>
        </ul>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-2 footer-item nav">
        <p class="footer-heading">
          <b>Blogs</b>
        </p>
        <ul>
          <li>
            <a href="">Construction Blogs</a>
          </li>
          <li>
            <a href="">Energy Plant Blogs</a>
          </li>
          <li>
            <a href="">Electrical Works Blog</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-2 footer-item nav">
        <p class="footer-heading">
          <b>Careers</b>
        </p>
        <ul>
          <li>
            <a href="">Construction</a>
          </li>
          <li>
            <a href="">Energy Projects</a>
          </li>
          <li>
            <a href="">Electrical Works</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-2 footer-item nav">
        <p class="footer-heading">
          <b>Contact Us</b>
        </p>
        <ul>
          <li>
            <a href="">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
