<div class="container m-3">
  <form class="row g-3" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="col-md-6">
      <label for="firstName" class="form-label"
        >First Name <span class="required">*</span></label
      >
      <input
        type="text"
        class="form-control"
        id="firstName"
        formControlName="firstName"
      />
      <div class="alert alert-danger" *ngIf="">Firstname is required</div>
    </div>
    <div class="col-md-6">
      <label for="lastName" class="form-label"
        >Last Name <span class="required">*</span></label
      >
      <input
        type="text"
        class="form-control"
        id="lastName"
        formControlName="lastName"
      />
    </div>
    <div class="col-md-6">
      <label for="email" class="form-label"
        >Email Address <span class="required">*</span></label
      >
      <input
        type="text"
        class="form-control"
        id="email"
        placeholder="Your Email"
        formControlName="email"
      />
    </div>
    <div class="col-md-6">
      <label for="linkedIn" class="form-label">LinkedIn profile</label>
      <input
        type="text"
        class="form-control"
        id="linkedIn"
        placeholder="http://www.linkedin.com"
        formControlName="linkedIn"
      />
    </div>
    <div class="col-md-6">
      <label for="phone" class="form-label"
        >Phone Number <span class="required">*</span></label
      >
      <input
        type="text"
        class="form-control"
        id="phone"
        placeholder="+91 9*********"
        formControlName="phone"
      />
    </div>
    <div class="col-md-6">
      <label for="location" class="form-label"
        >Location <span class="required">*</span></label
      >
      <input
        type="text"
        class="form-control"
        id="location"
        placeholder="Enter Location"
        formControlName="location"
      />
    </div>

    <div class="mb-3">
      <label for="formFile" class="form-label"
        >Upload Resume <span class="required">*</span></label
      >
      <input
        class="form-control"
        type="file"
        id="formFile"
        formControlName="formFile"
      />
    </div>
    <div class="mb-12">
      <label class="form-label"
        >What is your notice period ? <span class="required">*</span></label
      >
      <input
        class="form-control"
        type="text"
        placeholder="Type your Answer ..."
        id="notice"
        formControlName="notice"
      />
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
        Submit
      </button>
    </div>
  </form>
</div>
